TWITCH_BOT_USERNAME=mybot
TWITCH_OAUTH_TOKEN=oauth:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWITCH_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWITCH_CLIENT_SECRET=
TWITCH_REFRESH_TOKEN=
TWITCH_CHANNELS=channel_one,channel_two
COMMAND_PREFIX=!
DATABASE_URL=sqlite:twitch_bot.db?mode=rwc
RUST_LOG=twitch_bot=info,warn
